/*background*/
      
body {
  background-image: url("bgg.jpg");
}

.containerr::before {
  content: '';
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1003%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1895.382%2c601.588C1980.362%2c606.727%2c2053.553%2c541.644%2c2090.665%2c465.024C2123.58%2c397.069%2c2104.91%2c318.312%2c2063.018%2c255.492C2025.913%2c199.85%2c1962.229%2c174.259%2c1895.382%2c172.181C1823.884%2c169.958%2c1744.691%2c182.677%2c1708.665%2c244.476C1672.465%2c306.574%2c1703.828%2c379.944%2c1737.133%2c443.642C1774.144%2c514.429%2c1815.649%2c596.766%2c1895.382%2c601.588' fill='rgba(3%2c 211%2c 254%2c 0.6)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M684.218%2c113.109C720.725%2c111.271%2c739.01%2c73.224%2c757.463%2c41.671C776.198%2c9.635%2c800.787%2c-25.181%2c784.632%2c-58.592C767.101%2c-94.849%2c724.489%2c-110.257%2c684.218%2c-109.814C644.768%2c-109.38%2c606.481%2c-91.042%2c587.555%2c-56.426C569.286%2c-23.011%2c578.114%2c16.669%2c596.977%2c49.752C616.057%2c83.216%2c645.746%2c115.046%2c684.218%2c113.109' fill='rgba(3%2c 211%2c 254%2c 0.6)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M293.9%2c926.252C371.363%2c920.07%2c441.419%2c883.014%2c481.739%2c816.584C523.758%2c747.354%2c536.949%2c661.307%2c497.704%2c590.468C457.363%2c517.651%2c377.106%2c480.074%2c293.9%2c477.528C205.48%2c474.822%2c116.197%2c503.59%2c67.283%2c577.297C12.973%2c659.134%2c-7.69%2c769.001%2c45.804%2c851.373C96.23%2c929.021%2c201.608%2c933.617%2c293.9%2c926.252' fill='rgba(3%2c 211%2c 254%2c 0.6)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M105.335%2c357.542C175.534%2c357.763%2c239.401%2c318.608%2c274.706%2c257.933C310.225%2c196.89%2c314.768%2c120.766%2c278.301%2c60.284C242.889%2c1.553%2c173.91%2c-22.056%2c105.335%2c-22.97C34.804%2c-23.91%2c-39.577%2c-4.958%2c-75.809%2c55.562C-112.836%2c117.411%2c-99.279%2c195.055%2c-62.198%2c256.871C-26.278%2c316.753%2c35.506%2c357.322%2c105.335%2c357.542' fill='rgba(3%2c 211%2c 254%2c 0.6)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1927.007%2c1396.245C2045.45%2c1399.679%2c2169.068%2c1356.947%2c2226.213%2c1253.144C2281.858%2c1152.065%2c2239.961%2c1032.946%2c2181.899%2c933.235C2124.32%2c834.353%2c2041.423%2c737.85%2c1927.007%2c739.306C1814.267%2c740.741%2c1736.996%2c840.545%2c1683.109%2c939.583C1632.185%2c1033.176%2c1606.22%2c1142.638%2c1656.416%2c1236.623C1709.293%2c1335.627%2c1814.814%2c1392.992%2c1927.007%2c1396.245' fill='rgba(3%2c 211%2c 254%2c 0.6)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M796.216%2c958.006C914.417%2c968.354%2c1027.68%2c902.645%2c1088.864%2c800.983C1151.987%2c696.099%2c1158.196%2c564.385%2c1096.877%2c458.436C1035.664%2c352.67%2c918.408%2c293.693%2c796.216%2c295.335C676.877%2c296.939%2c559.777%2c358.213%2c509.233%2c466.332C464.022%2c563.042%2c526.817%2c664.29%2c580.633%2c756.489C633.78%2c847.543%2c691.188%2c948.811%2c796.216%2c958.006' fill='rgba(3%2c 211%2c 254%2c 0.6)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M513.273%2c760.601C626.362%2c758.852%2c709.948%2c664.016%2c760.473%2c562.826C805.281%2c473.086%2c802.707%2c368.821%2c752.147%2c282.191C702.018%2c196.299%2c612.691%2c141.787%2c513.273%2c139.27C409.159%2c136.634%2c306.372%2c180.416%2c252.491%2c269.542C196.831%2c361.612%2c202.004%2c475.663%2c252.465%2c570.682C306.527%2c672.481%2c398.023%2c762.383%2c513.273%2c760.601' fill='rgba(3%2c 211%2c 254%2c 0.6)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1433.508%2c684.836C1512.813%2c677.719%2c1583.138%2c636.882%2c1623.422%2c568.2C1664.229%2c498.626%2c1670.346%2c414.79%2c1634.184%2c342.693C1593.751%2c262.082%2c1523.68%2c190.983%2c1433.508%2c189.568C1341.456%2c188.124%2c1270.14%2c257.98%2c1221.622%2c336.221C1169.557%2c420.182%2c1122.374%2c524.137%2c1173.686%2c608.561C1223.933%2c691.232%2c1337.152%2c693.483%2c1433.508%2c684.836' fill='rgba(3%2c 211%2c 254%2c 0.6)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1315.66%2c475.252C1371.525%2c471.633%2c1410.431%2c426.618%2c1438.812%2c378.364C1467.735%2c329.189%2c1491.111%2c271.746%2c1465.267%2c220.886C1437.428%2c166.101%2c1377.092%2c134.425%2c1315.66%2c136.007C1256.721%2c137.525%2c1208.886%2c177.54%2c1178.827%2c228.261C1148.048%2c280.196%2c1132.124%2c343.528%2c1161.379%2c396.336C1191.382%2c450.493%2c1253.877%2c479.254%2c1315.66%2c475.252' fill='rgba(3%2c 211%2c 254%2c 0.6)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='10.94%25' y1='-19.44%25' x2='89.06%25' y2='119.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1003'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(36%2c 105%2c 195%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
  position:fixed ;
  width: 100%;  
  height:100% ;     
  opacity: 0.7;
  z-index: -3;
}

/*background*/

      .options {
        margin-left: 36%;
        margin-top: 6%;
      }

      h1 {
        font-weight: bolder;
        font-size: 35px;
      }

      h2 {
        font-weight: bolder;
        font-size: 15px;
      }

      h3 {
        font-weight: bolder;
      }

      /*navbar*/
      
      body {
        margin: 0;
        padding: 0;
        overflow: hidden;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }

      .top-bar {
        background: linear-gradient(
          to right,
          #203558,
          #274473,
          #28508f,
          #2c5eaa,
          #0088ff
        );
        height: 50px;
        width: 100%;
        z-index: 3;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 5px 0px 0.5px rgba(0, 0, 0, 0.384);
        padding: 0 30px;
      }

      #PageTitle {
        margin: 0;
      }

      #Home{margin-top: 35px;}

      #profile {
        position: relative;
      }

      #profile-select {
        position: absolute;
        color: white;
        font-size: 20px;
        margin-left: 10px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
        cursor: pointer;
        border-radius: 20px;
        text-align: center;
        background-color: transparent;
        outline: none;
        appearance: none;
      }

      .profile-select {
        margin-right: 40px;
        color: black;
        display: flex;
        align-items: center;
        border-radius: 40px 40px 40px 40px;
        border: 1px solid black;
        appearance: none;
        width: 150px;
        font-size: 45px;
      }

      option {
        color: black;
      }
    /*end navbar*/

      /*buttons1*/
      .button1 {
        align-items: center;
        appearance: none;
        background-color: #d1ebffcc;
        border: 3px solid;
        height: 68px;
        max-width: 2000px;
        width: 550px;
        border-radius: 80px;
        box-shadow: rgba(45, 35, 66, 1) 0 2px 4px,
          rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
          rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
        box-sizing: border-box;
        color: black;
        cursor: pointer;
        font-family: "JetBrains Mono", monospace;
        line-height: 1;
        list-style: none;
        overflow: hidden;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: box-shadow 0.15s, transform 0.15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        will-change: box-shadow, transform;
        font-size: 38px;
        font-weight: 900;
      }

      .button1:focus {
        box-shadow: #fff 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
          rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #fff 0 -3px 0 inset;
      }

      .button1:hover {
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
          rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #fff 0 -3px 0 inset;
        transform: translateY(-2px);
      }

      .button1:active {
        box-shadow: #fff 0 3px 7px inset;
        transform: translateY(2px);
      }

    /*end buttons1*/

    /*button*/
    .bottom-buttons {
        position: fixed;
        bottom: 0;
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        padding: 10px;
        margin-left: 20%;
    }
    
    .button {
        cursor: pointer;
        background-color:aliceblue;
        border: none;
        border-radius: 10px;
        width: 150px;
        text-align: center;
        padding: 5px;
        margin-left: 800px;
        box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
    }
    
    .button {
        color: black;
        font-size: 28px;
        cursor: pointer;
    }
  
    /*end button*/
